.center {
  outline: 2px solid red;
}

.center-intrinsic {
  outline: 2px solid red;
}

.cluster {
  outline: 2px solid blue;
}

.stack {
}

.stack > * {
  outline: 2px solid green;
}

.stack > * + * {
}
